@mixin position-absolute-inset-0 {
    position: absolute;
    inset: 0;
}

@mixin position($position, $top: null, $bottom: null, $left: null, $right: null) {
    position: $position;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}