// COLORS

$white: #FBFDFB;
$gray: #DBDBDB;
$dark: #0D0E12;
$blue: #879DE4;
$red: #B8755E;
$green: #C3D74E;

// FONTS WEIGHTS

$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// Z-INDEX

$zindex: (
    background: 1000,
    components: 2000,
    modal: 3000
);

// BREAKPOINTS

$layout-breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);