@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.login-btn {
	@include position(absolute, $top: 20px, $right: 20px);
	width: 60px;
	height: 60px;
	font-size: 3rem;
	color: $white;
	background-color: transparent;
	border: 3px solid $white;
	border-radius: 10px;
	cursor: pointer;
	z-index: map-get($zindex, components);

	&:focus-visible {
		outline: none;
		box-shadow: 0 0 6px 3px $white;
	}

	@media (min-width: map-get($layout-breakpoints, md)) {
		top: 40px;
		right: 40px;
		width: 80px;
		height: 80px;
		font-size: 4rem;
	}
}